---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
html {
    font-size: 14px; // originally 16px
    @include breakpoint($medium) {
        font-size: 16px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 18px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 20px; // originally 22px
    }
}


// make sure that items on landing page behave the same way as the side bar
.feature__item {
    fill: currentColor;
    opacity: 0.75;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.feature__item:hover {
    opacity: 1;
}


// copied from 'img' in _reset.scss
svg {
    /* Responsive images (ensure images don't scale beyond their parents) */
    max-width: 100%;
    /* part 1: Set a maximum relative to the parent*/ width: auto\9;
    /* IE7-8 need help adjusting responsive images*/ height: auto;
    /* part 2: Scale the height according to the width, otherwise you get stretching*/

    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}


// used for images on landing page
@mixin shrink-and-center-image() {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.archive__item-teaser svg {
    @include shrink-and-center-image();
}

.archive__item-teaser img {
    @include shrink-and-center-image();
}
